html, body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #33373d;
    color: #d1d1d1;
    margin: 0;
    padding: 0;
  }

header{
  height: 90px;
  background: linear-gradient(145deg, #33373d, #33373d);
  box-shadow:  16px 16px 29px #191919, 
             -16px -16px 29px #33373d;

  color: white;
  padding-top: 1px;
  padding-left: 6px;
  text-align: justify;
  font-size: 20px;
  z-index: -100;
}

#carla-logo{
  background:url(img/carla-logo.png);
  background-repeat: no-repeat;
  background-size: 80px 80px;
  width: 85px;
  height: 80px;
  margin: 0 3px;
  filter: invert(1);
  float: left;

}

.control-hr{
  margin-top: -1px;
  margin-bottom: -1px;
  border-color:#ABABAB;
}

#Toggle-buttons-container{
  font-size: 25px;
  width: 300px;
  height: 500px;
  margin-top: 40px;
  margin-left: 50px;
  padding: 30px 35px 35px 35px;
  border-radius: 50px;
background: #26292f;
box-shadow: inset 8px 8px 16px #1d1f23, 
            inset -8px -8px 16px #30333b;
  float: left;  
  text-align: center;
  font-weight: bold;
}

.button-container{
  
  height: 60px;
  margin-top: 6px;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.button-container1{
  display: inline;
  float: left;
}
.button-container1.toggle-button-img{
  width: 55px;
  height: 55px;
  background-color: purple;
}
.button-container1.toggle-button-img.img1{
  background: url(img/car.png);
  background-repeat: no-repeat;
  background-size: 55px 55px;

}

/* Button 1*/
.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.label-text {
  margin-left: 16px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    -8px -4px 8px 0px #313131,
    8px 4px 12px 0px #292929,
    4px 4px 4px 0px #292929 inset,
    -4px -4px 4px 0px #313131 inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #ecf0f3;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
    -8px -4px 8px 0px #666464,
    8px 4px 12px 0px #929394;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
  background:#00ff57 ;
}

.button-container1.toggle-button-img.img2{
  background: url(img/Rain.png);
  background-repeat: no-repeat;
  background-size: 55px 55px;
  
}

.toggle-text{
  text-align: left;
  font-size: 18px;
  padding-left: 10px;
}

#speedmeter{
  width: 200px;
  height: 100px;
  margin-top: 40px;
  margin-left: 50px;
  padding-top: 20px;
  border-radius: 100px;
background: #26292f;
box-shadow: inset 8px 8px 16px #1d1f23, 
            inset -8px -8px 16px #30333b;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.speedmeter-speedbar{
  font-size: 40px;
  border-radius: 100px;
background: #26292f;
box-shadow: inset 8px 8px 16px #1d1f23, 
            inset -8px -8px 16px #30333b;
 
}